body{
    background-color: white;
}

.container{
    font-family: 'inter', sans-serif;
    margin: 100px;
    background-color: #f4f4f4;
    padding: 50px;
    border-radius: 20px;
}

.container p{
    color: gray;
}

.espacoCep{
    display: flex;
    gap: 10px;
}

input{
    width: 100%;
    max-width: 500px;
}

