body{
    color: black;
    background-color: rgb(233, 229, 229);
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.exercicio1{
    background-color: white;
    border-radius: 15px;
    width: 100%;
    padding: 30px;
}

.titulo{
    display: inline-block;
    background-color: rgb(243, 105, 55);
    border-radius: 50px;
    align-items: center;
    padding: 8px;
    font-size: 13px;
    color: white;
    font-weight: bold;
}

p{
    color: gray;
    font-size: 14px;
}

.button{
    color: black;
    background-color: rgb(233, 229, 229);
    font-family: Arial, sans-serif;
    align-items: center;
    text-align: center;
    padding: 10px 0 25px 0;
    border-radius: 10px;
}

.button h2{
    font-size: medium;
    font-weight: 200;
}

.button button{
    display: inline-block;
    background-color: rgb(243, 105, 55);
    border-radius: 50px;
    align-items: center;
    padding: 10px;
    font-size: 13px;
    color: white;
    font-weight: bold;
    border: none;
}